.closing-card {
  margin: 20px;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.totais-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-buttons {
  margin-top: 20px;
  text-align: center;
}

.action-buttons .ant-btn {
  border-radius: 8px;
  font-size: 16px;
  padding: 6px 20px;
}

.ant-btn-primary {
  background-color: #4caf50;
  border-color: #4caf50;
}

.ant-btn-primary:hover {
  background-color: #45a049;
  border-color: #45a049;
}
