/* Layout Geral */
.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar Customizada */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background-color: #343a40;
  color: white;
  overflow-y: auto; /* Permite rolagem se necessário */
  padding: 20px 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
}

.sidebar .ant-menu-item-selected a {
  background-color: #495057 !important;
  border-radius: 5px;
}

/* Conteúdo Principal */
.content {
  margin-left: 280px; /* Espaço igual à largura da sidebar */
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* Permite rolagem no conteúdo principal */
  background-color: #f8f9fa;
}
