body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #d4f8e8; /* Fundo verde claro */
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz a imagem cobrir toda a área */
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4f8e8; /* Fundo verde claro */
}

.login-card {
  width: 80%; /* Controla o tamanho do card */
  max-width: 400px; /* Define o tamanho máximo */
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: white;
}
